# Virtual environment
facevenv/
venv/
env/

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Django database
db.sqlite3

# Environment variables
.env

# Logs
*.log

# Git
.git
.gitignore

# Media / uploads
media/

# Static build files
staticfiles/

# Node
node_modules/

# ML / Face recognition models
models/
datasets/
data/
*.h5
*.pt
*.pth
*.pkl

# OS files
.DS_Store