asgiref
certifi
charset-normalizer
Django
facenet-pytorch
filelock
fsspec
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
opencv-python
pillow
psycopg2-binary
requests
sqlparse
sympy
torch
torchvision
typing_extensions
tzdata
urllib3
python-dotenv
deepface
tf-keras
